//Sass Variables for Colors. 
// color from wireframe #FD495C

$colors: (
    primary:#FD495C,
    secondary: #000DFD,
    accent: rgb(101, 152, 219),
);

// map-get calls property of color
body {
    //temporary gradient until photo can be changed
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
//     background-image: url("images/images.jpeg");

//    // this code makes the image responsive
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
    // background-color: aquamarine;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
};

h1 {
    color: map-get($colors, primary);
};

#btnOver21, #btnUnder21 {
    font-size: 100%;
    border-color:#FD495C;
    background: transparent;
    margin: 10px;
}

#agePopUp {
 border: solid;
 margin-top: 10em;
}
#map {
    height: 10em;
    width: 10em;
    padding: 5em;
    margin: 0 auto;
    -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
};

.theFood {
    width: 10rem;
    height: 10rem;
    padding: 50px;
    margin: 50px;
    float: left;
}

.foodPictures {
    max-width: 10em;
    max-height: 10rem;
}
// restaurant name 
#restName {
    color: #000DFD
}